.container__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px 0;
  margin-top: 10px;
  background-color: #f4deb3;
  width: 35%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

img {
  width: 30%;
  height: auto;
  border-radius: 50%;
}
